.my-pd, .my-pd2 {
    padding-right: 0px;
}

.my-pd2 {
    padding-left: 0px;
}

.c-f {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}
 
th {
    font-weight: bold;
    font-size: medium;
}

th.mat-sort-header-sorted {
    color: black;
}

.my-mr {
    margin-top: 1em;
}