<div class="text-center">
  <form class="form-signin" #signupForm="ngForm">
    <img class="mb-4" src="./../../../assets/brand_logo.png" alt="" width="300" height="50">
    <h1 class="h3 mb-3 font-weight-normal">Signup</h1>
    <div class="alert alert-warning" *ngIf="errorMsg">
      Please enter all information correctly!!
    </div>
    <div class="alert alert-warning" *ngIf="resAlt">
      {{ resMsg }} now <button class="btn btn-link" [routerLink]="['/login']" > Signin</button>
    </div>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" #email="ngModel" class="form-control" placeholder="Email address" name="email"
      [ngModel]="emailInput" required email>

    <!-- error msg for user ID -->
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required; else errMsgEmail">
        Email is Required.
      </div>
      <ng-template #errMsgEmail>
        <div *ngIf="email">
          Email is Not Valid
        </div>
      </ng-template>
    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" #pawd="ngModel" class="form-control" name="pwd" [ngModel]="pwd"
      placeholder="Password" required minlength="6">

    <!-- error msg for password -->
    <div *ngIf="(pawd.errors?.minlength) && (pawd.dirty || pawd.touched)" class="alert alert-danger">
      Password is Required
    </div>

    <br>
    <button class="btn btn-lg btn-danger btn-block" type="submit" (click)="onSignup(signupForm)">Sign Up</button>
    <br>
  </form>
  <p>Already have an account?<a [routerLink]="['/login']"><strong> Signin </strong></a></p>
</div>