<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">UBREAK<span class="text-danger">IFIX</span></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']">Home</a>
      <a class="nav-item nav-link" [routerLink]="['/pricing']">Services</a>
      <a class="nav-item nav-link" [routerLink]="['/pricing']">Pricing</a>
    </div>
    <div class="container"></div>
    <!-- if user not logged in -->
    <div class="navbar-nav" *ngIf="!authService.isLoggedIn()">
      <a class="nav-item nav-link btn btn-outline-danger btn-sm" [routerLink]="['/login']">Login</a>
    </div>
    <!-- if user logged in -->
    <div class="navbar-nav" *ngIf="authService.isLoggedIn()">
      <a class="nav-item nav-link btn btn-outline-danger btn-sm" (click)="onSignout()">Logout</a>
    </div>
  </div>
</nav>