.home-bg {
    background-image: url('../../../assets/home_bg.jpg');
    text-shadow: 12px 10px 20px #00000059;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.come-visit-btn {
    box-shadow: 6px 9px black;
}

.come-visit-btn:hover {
    box-shadow: 2px 4px black;
}
