<!-- section 1 -->
<div class="text-center home-bg">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">HERE WHEN YOU NEED US</h1>
    <p class="lead font-weight-normal">Sure, we repair cell phones, tablets, and computers, but we think it’s more like
      fixing bad days, ruined plans, and close calls. Let one of our techs take it from here.</p>
    <a class="btn btn-danger btn-lg come-visit-btn" href="#">Come visit</a>
  </div>
</div>


<div class="container">
  <!-- section 2 -->
  <div class="row">
    <div class="col-md-4">
      <h2>FREE DIAGNOSTICS</h2>
      <p>We believe in a transparent repair process. If you’re not sure what’s wrong with your device, we’ll diagnose it
        for free.</p>
      <p><a class="btn btn-danger" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>LOW PRICE GUARANTEE</h2>
      <p>We want you to be confident that you’re getting the best price. We’ll match any local competitor’s published
        price for the same repair and beat it by $5.</p>
      <p><a class="btn btn-danger" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>90-DAY WARRANTY</h2>
      <p>All of our repairs are backed with our 90-day, hassle-free warranty. This warranty is valid at all of our
        locations worldwide.</p>
      <p><a class="btn btn-danger" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr>
  <!-- section 3 -->
  <div class="row">
    <div class="col-md-7">
      <h2>First featurette heading.
        <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">uBreakiFix is the nationwide leader in professional same-day electronics repairs - including
        iPhone, Samsung, Computer, Macs, iPads and other tablet and cell phones. Our professionally trained and
        certified technicians provide fast and affordable iPhone repairs, cell phone screen replacements and all fixes
        for PCs, Macs and tablets. With 450 locations across the country, we have more than a decade of experience
        diagnosing and fixing everything from Samsung repairs to iPad screen replacements.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
        aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr>
  <!-- section 4 -->
  <div class="row">
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
        aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
      </svg>
    </div>
    <div class="col-md-7">
      <h2>SPEEDY REPAIRS</h2>
      <p class="lead">Our team carries out same-day repairs, with a 90-day warranty and price match guarantee on all our
        work. In fact, iPhone screen repairs are often carried out in 45 minutes or less. Our technicians have expertly
        fixed more than 10,000 devices including cracked screen, water damage, defective speakers, battery problems and
        HDMI ports. Whatever the technical issue, we fix it all.</p>
    </div>
  </div>
</div>