<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <a class="list-group-item list-group-item-action">To-do</a>
        <a class="list-group-item list-group-item-action">Started</a>
        <a class="list-group-item list-group-item-action">Ready</a>
        <a class="list-group-item list-group-item-action">Delivered</a>
      </div>
    </div>
    <div class="col-md-10">
      <app-admin-main-content></app-admin-main-content>
    </div>
  </div>
</div>